body {
  background-image: url(packages/images/mossel.jpg);
  font-family: sans-serif;
  padding: 20px;
}

hr {
    height: 2px;
    background-color: rgb(248, 248, 131);
    border-color: rgb(248, 248, 131);
}

#top-line {
    margin-bottom: 25px;
}

.bottom-line {
    margin-top: 25px;
}

h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

.restaurant {
    font-style: italic;
}

h1, h2, p, .hours {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: -25px;
}

h1, h2 {
    font-family: impact, serif;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.breakfast, .lunch {
    text-align: left;
    width: 75%;
}

.price { 
    text-align: right;
    width: 25%;
}

/* FOOTER */ 

footer {
    font-size: 14px;
}

address {
    font-style: normal;
}

.address {
    margin-bottom: 5px;
}

a { 
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(97, 97, 0);
}

a:active {
    color: rgb(101, 101, 2);
}
